.main-container {
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0;
  padding: 0;
  position: relative;
}

.form {
  width: 100%;
}

.form-group {
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  max-width: 400px;
  min-width: 250px;
}

.formulario {
  text-align: center;
  margin-top: 35px;
}

