.main-container {
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0;
  padding: 0;
  position: relative;
}

.form-bg {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  max-width: 400px;
  min-width: 250px;
}